.App {
  text-align: center;
}

.BuildView {
  background-color: #282c34;
  height: calc(100vh - 2px);
  width: calc(90vw - 2px);
  display: flex;
  float: left;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LeftPanel {
  background-color: #282c34;
  height: calc(100vh - 2px);
  width: calc(10vw - 2px);
  display: flex;
  float: left;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}