.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.BuildView {
  background-color: #282c34;
  height: calc(100vh - 2px);
  width: calc(100% - 12px);
  display: flex;
  float: left;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.LeftPanel {
  background-color: #282c34;
  height: calc(100vh - 2px);
  width: 200px;
  display: flex;
  float: left;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.RightPanel {
  background-color: #282c34;
  height: calc(100vh - 2px);
  width: 200px;
  display: flex;
  float: left;
  border: 1px solid;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.OrientationCube {
  width: 100%;
  aspect-ratio: 1;
  margin: 20px;
}

.SearchArea {
  height: 100%;
  margin: 20px;
}

.SearchResultArea {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 10px;
}

.RightPanelMid {
  height: 100%;
  margin: 20px;
}

.SliceManager {
  margin: 20px;
}

.SaveLoadMenu {
  margin: 20px;
}

.SearchResult {
  width: 40px;
  aspect-ratio: 1;
}

.SelectedSearchResult {
  background-color: yellow;
}

.Help {
  font-size: 10px;
}